<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-indigo-5 text-white" height-hint="98" style="">
      <q-toolbar>
        <q-btn dense flat round icon="exit_to_app" @click="dialogDesconect = true">
          <q-tooltip
            transition-show="rotate"
            transition-hide="rotate"
          >
            <span style="font-size:12px;">{{$t('desconectar')}}</span>
          </q-tooltip>
        </q-btn>

        <q-toolbar-title>
          <q-avatar>
            <img src="../assets/calendar.png" :style="$q.platform.is.mobile ? 'height:30px;width:30px;' : 'height:40px;width:40px;'">
          </q-avatar>
          <span style="font-family: AirbnbCereal-Light;margin-left:5px;">My House Cleaning</span>
        </q-toolbar-title>

        <q-btn class="q-mr-md" dense flat round icon="mail" @click="dialogEmailAprovacao = true" v-if="userData.admin">
          <q-badge color="red" floating text-color="white" :label="listaAprovacao.length" v-if="listaAprovacao.length > 0"/>
          <q-tooltip
            transition-show="rotate"
            transition-hide="rotate"
          >
            <span style="font-size:12px;">Lista de Aprovação</span>
          </q-tooltip>
        </q-btn>

        <q-btn class="q-mr-md" dense flat round icon="notifications" @click="dialogConfiguraSMS = true" v-if="userData.admin">
          <q-tooltip
            transition-show="rotate"
            transition-hide="rotate"
          >
            <span style="font-size:12px;">{{$t('configlembrete')}}</span>
          </q-tooltip>
        </q-btn>

        <q-btn class="q-mr-md" dense flat round icon="create" @click="openDialogCreateEvent()">
          <q-tooltip
            transition-show="rotate"
            transition-hide="rotate"
          >
            <span style="font-size:12px;">{{$t('criarevento')}}</span>
          </q-tooltip>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <q-page class="bg-blue">
        <div style="overflow: auto;">
          <div class="row justify-center">
            <div :class="$q.platform.is.mobile ? 'StyleCalendarMobile' : 'StyleCalendarDesktop'">
              <vue-cal ref="vuecal"
                    :cell-click-hold="false"
                    :events="events"
                    :locale="locale"
                    hide-weekendss
                    :timeCellHeight="50"
                    :editableEvents="{ title: false, drag: true, resize: false, delete: false, create: false }"
                    :drag-to-create-threshold="15"
                    :clickToNavigate="false"
                    :onEventClick="onEventClick"
                    :disable-views="['day']"
                    @event-drop="dragCreation"
                    :drag-to-create-event="false">
              </vue-cal>
            </div>
          </div>
          <q-dialog v-model="showDialogCreateEvent" :maximized="$q.platform.is.mobile ? true : false">
            <q-card class="bg-white">
              <div class="row bg-indigo-5">
                <div class="q-pa-md col-10">
                  <span class="text-white" style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('criarevento')}}</span>
                </div>
                <div class="q-pa-sm col-2">
                  <q-btn dense flat class="q-ml-lg q-mt-xs" round icon="close" color="white" v-close-popup />
                </div>
              </div>
              <q-card-section>
                <span class="text-blue-grey-9 " style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('title')}}:</span>
                <q-input color="indigo-5" filled v-model="newEvent.title" label="Título do Evento" class="q-pt-sm"/>
              </q-card-section>
              <q-card-section>
                <div class="row">
                  <div class="col-6">
                    <!-- Data Inicial -->
                    <span class="text-blue-grey-9 " style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('datainicial')}}:</span>
                    <q-input label="Data de Início" readonly filled v-model="dataInicial" class="q-pt-sm q-pr-md">
                      <template v-slot:prepend>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy transition-show="scale" transition-hide="scale">
                            <q-date :title="newEvent.title" subtitle="Data Inicial" v-model="dataInicial" mask="YYYY-MM-DD">
                              <div class="row items-center justify-end q-gutter-sm">
                                <q-btn label="OK" color="primary" flat v-close-popup />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-6">
                    <span class="text-blue-grey-9 " style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('horainicial')}}:</span>
                    <q-input label="Horário de Início" readonly filled v-model="horaInicial" class="q-pt-sm">
                      <template v-slot:prepend>
                        <q-icon name="access_time" class="cursor-pointer">
                          <q-popup-proxy transition-show="scale" transition-hide="scale">
                            <q-time :title="newEvent.title" subtitle="Hora Inicial" v-model="horaInicial" mask="HH:mm" format24h >
                              <div class="row items-center justify-end q-gutter-sm">
                                <q-btn label="OK" color="primary" flat v-close-popup />
                              </div>
                            </q-time>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                </div>
              </q-card-section>
              <q-card-section>
                <div class="row">
                  <div class="col-6">
                    <!-- Hora Final -->
                    <span class="text-blue-grey-9 " style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('horafinal')}}:</span>
                    <q-input label="Horário Final" readonly filled v-model="horaFinal" class="q-pt-sm">
                      <template v-slot:prepend>
                        <q-icon name="access_time" class="cursor-pointer">
                          <q-popup-proxy transition-show="scale" transition-hide="scale">
                            <q-time :title="newEvent.title" subtitle="Hora Final" v-model="horaFinal" mask="HH:mm" format24h >
                              <div class="row items-center justify-end q-gutter-sm">
                                <q-btn label="OK" color="primary" flat v-close-popup />
                              </div>
                            </q-time>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                </div>
              </q-card-section>
              <q-card-section>
                <div>
                  <span class="text-blue-grey-9 " style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('nome')}}:</span>
                  <q-input color="indigo-5" filled v-model="newEvent.nome" class="q-pt-sm"/>
                </div>
                <div class="q-pt-lg">
                  <span class="text-blue-grey-9 " style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('telefone')}}:</span>
                  <q-input color="indigo-5" filled v-model="newEvent.telefone" class="q-pt-sm"/>
                </div>
              </q-card-section>
              <q-card-section>
                <div class="row justify-end">
                  <q-btn @click="CreateEvent()" no-caps color="indigo-5" style="width:50%">
                    <span>{{$t('criarevento')}}</span>
                  </q-btn>
                </div>
              </q-card-section>
            </q-card>
          </q-dialog>
          <q-dialog v-model="showDialogEventView" :maximized="$q.platform.is.mobile ? true : false">
            <q-card>
              <div class="row bg-indigo-5">
                <div class="q-pa-md col-10">
                  <span class="text-white" style="font-size: 18px;font-family: AirbnbCereal-Medium">{{selectedEvent.title}}</span>
                </div>
                <div class="q-pa-md q-ml-sm col-1">
                  <q-btn dense flat class="" round icon="close" color="white" v-close-popup />
                </div>
              </div>
              <q-card-section>
                <span class="text-blue-grey-9 " style="font-size: 18px;font-family: AirbnbCereal-Medium">Título:</span>
                <q-input color="indigo-5" filled v-model="selectedEvent.title" label="Título do Evento" class="q-pt-sm"/>
              </q-card-section>
              <q-card-section>
                <div class="row">
                  <div class="col-6">
                    <!-- Data Inicial -->
                    <span class="text-blue-grey-9 " style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('datainicial')}}:</span>
                    <q-input label="Data de Início" readonly filled v-model="selectedEvent.dataInicial" class="q-pt-sm q-pr-md">
                      <template v-slot:prepend>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy transition-show="scale" transition-hide="scale">
                            <q-date :title="selectedEvent.title" subtitle="Data Inicial" v-model="selectedEvent.dataInicial" mask="YYYY-MM-DD">
                              <div class="row items-center justify-end q-gutter-sm">
                                <q-btn label="OK" color="primary" flat v-close-popup />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-6">
                    <span class="text-blue-grey-9 " style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('horainicial')}}:</span>
                    <q-input label="Horário de Início" readonly filled v-model="selectedEvent.horaInicial" class="q-pt-sm">
                      <template v-slot:prepend>
                        <q-icon name="access_time" class="cursor-pointer">
                          <q-popup-proxy transition-show="scale" transition-hide="scale">
                            <q-time :title="selectedEvent.title" subtitle="Data Inicial" v-model="selectedEvent.horaInicial" mask="HH:mm" format24h >
                              <div class="row items-center justify-end q-gutter-sm">
                                <q-btn label="OK" color="primary" flat v-close-popup />
                              </div>
                            </q-time>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                </div>
              </q-card-section>
              <q-card-section>
                <div class="row">
                  <div class="col-6">
                    <!-- Hora Final -->
                    <span class="text-blue-grey-9 " style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('horafinal')}}:</span>
                    <q-input label="Horário Final" readonly filled v-model="selectedEvent.horaFinal" class="q-pt-sm">
                      <template v-slot:prepend>
                        <q-icon name="access_time" class="cursor-pointer">
                          <q-popup-proxy transition-show="scale" transition-hide="scale">
                            <q-time :title="selectedEvent.title" subtitle="Hora Final" v-model="selectedEvent.horaFinal" mask="HH:mm" format24h >
                              <div class="row items-center justify-end q-gutter-sm">
                                <q-btn label="OK" color="primary" flat v-close-popup />
                              </div>
                            </q-time>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                </div>
              </q-card-section>
              <q-card-section>
                <div>
                  <q-input color="indigo-5" label="Nome" filled v-model="selectedEvent.nome" class="q-pt-sm"/>
                </div>
                <div>
                  <q-input color="indigo-5" label="Telefone" filled v-model="selectedEvent.telefone" class="q-pt-sm"/>
                </div>
              </q-card-section>
              <q-card-section>
                <div class="row justify-end">
                  <q-btn @click="deletarEvento(selectedEvent)" v-close-popup no-caps color="red" class="q-mr-md">
                    <span>{{$t('deletarevento')}}</span>
                  </q-btn>
                  <q-btn @click="saveEditEvent()" no-caps v-close-popup color="indigo-5">
                    <span>{{$t('salvar')}}</span>
                  </q-btn>
                </div>
              </q-card-section>
            </q-card>
          </q-dialog>
          <q-dialog v-model="dialogDesconect">
            <q-card class="bg-white text-blue-grey-9" style="width: 300px">
              <q-card-section>
                <div class="text-h6">{{$t('desconectar')}}</div>
              </q-card-section>

              <q-card-section class="q-pt-none row justify-end">
                <q-btn @click="dialogDesconect = false" class="q-mr-md" flat>
                  <span>{{$t('nao')}}</span>
                </q-btn>
                <q-btn @click="desconectar()">
                  <span>{{$t('sim')}}</span>
                </q-btn>
              </q-card-section>
            </q-card>
          </q-dialog>
          <q-dialog v-model="dialogEmailAprovacao" :maximized="$q.platform.is.mobile ? true : false">
            <q-card class="bg-white" style="min-width:35%;min-height:50%">
              <div class="row bg-indigo-5">
                <div class="q-pa-md col-10">
                  <span class="text-white" style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('listaaprovacao')}}</span>
                </div>
                <div class="q-pa-md q-ml-sm col-1">
                  <q-btn dense flat round icon="close" color="white" v-close-popup />
                </div>
              </div>
              <q-card-section>
                <div class="row justify-center" v-if="listaAprovacao.length === 0">
                  <span class="text-blue-grey-9" style="font-family: AirbnbCereal-Medium">{{$t('nenhumaaprovacaopendente')}}</span>
                </div>
                <q-list bordered separator v-if="listaAprovacao.length > 0">
                  <q-item v-for="(it, i) in listaAprovacao" v-bind:key="i">
                    <q-item-section>{{it.email}}</q-item-section>
                    <q-item-section avatar>
                      <div class="row">
                        <div class="col-6">
                          <q-btn @click="aprovar(it, 'n')" round flat color="negative" icon="close">
                            <q-tooltip
                              transition-show="rotate"
                              transition-hide="rotate"
                            >
                              <span style="font-size:12px;">{{$t('negar')}}</span>
                            </q-tooltip>
                          </q-btn>
                        </div>
                        <div class="col-6">
                          <q-btn @click="aprovar(it, 'a')" round flat color="positive" icon="check">
                            <q-tooltip
                              transition-show="rotate"
                              transition-hide="rotate"
                            >
                              <span style="font-size:12px;">{{$t('aprovar')}}</span>
                            </q-tooltip>
                          </q-btn>
                        </div>
                      </div>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-card-section>
            </q-card>
          </q-dialog>
          <q-dialog v-model="dialogConfiguraSMS" :maximized="$q.platform.is.mobile ? true : false">
            <q-card class="bg-white" style="min-width:35%;min-height:50%">
              <div class="row bg-indigo-5">
                <div class="q-pa-md col-10">
                  <span class="text-white" style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('configurarlembrete')}}</span>
                </div>
                <div class="q-pa-sm col-2">
                  <q-btn dense flat class="q-ml-lg q-mt-xs" round icon="close" color="white" v-close-popup />
                </div>
              </div>
              <q-card-section>
                <span class="text-blue-grey-9 " style="font-size: 18px;font-family: AirbnbCereal-Medium">{{$t('mensagempadraosms')}}</span>
                <q-input type="textarea" color="indigo-5" filled v-model="userData.mensagemSMS" label="Mensagem SMS" class="q-pt-sm"/>
              </q-card-section>
              <q-card-section>
                <q-input label="Data de Envio do Lembrete" readonly filled v-model="userData.dataEnvioSMS" class="q-pt-sm q-pr-md">
                  <template v-slot:prepend>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy transition-show="scale" transition-hide="scale">
                        <q-date title="Data de Envio" subtitle="Lembrete SMS" v-model="userData.dataEnvioSMS" mask="YYYY-MM-DD">
                          <div class="row items-center justify-end q-gutter-sm">
                            <q-btn label="OK" color="primary" flat v-close-popup />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </q-card-section>
              <q-card-section>
                <div class="row justify-end">
                  <q-btn @click="EnviarSMS()" no-caps color="red" class="q-mr-md">
                    <span>{{$t('enviarsms')}}</span>
                  </q-btn>
                  <q-btn @click="SalvarDadosLembrete()" no-caps color="indigo-5">
                    <span>{{$t('salvar')}}</span>
                  </q-btn>
                </div>
              </q-card-section>
              <q-card-section>
                <div class="row justify-end">
                  <span style="font-size:13px;" class="text-grey-7">{{$t('messageavisosms')}}</span>
                </div>
              </q-card-section>
            </q-card>
          </q-dialog>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import 'vue-cal/dist/drag-and-drop.js'
import 'vue-cal/dist/i18n/pt-br.js'
export default {
  name: 'Agenda',
  components: {
    VueCal
  },
  data () {
    return {
      dialogDesconect: false,
      newEvent: {
        title: '',
        start: '',
        end: '',
        nome: '',
        telefone: ''
      },
      locale: 'en',
      dataInicial: '',
      horaInicial: '',
      dataFinal: '',
      horaFinal: '',
      showDialogCreateEvent: false,
      showDialogEventView: false,
      selectedEvent: {},
      events: [],
      dialogConfiguraSMS: false,
      dialogEmailAprovacao: false,
      listaAprovacao: [],
      userData: {
        mensagemSMS: '',
        dataEnvioSMS: ''
      }
    }
  },
  created () {
    var self = this
    if (self.$produto.language === 'pt-br') {
      self.locale = self.$produto.language
    } else {
      self.locale = 'en'
    }
    self.carregarDados()
  },
  methods: {
    SalvarDadosLembrete () {
      var self = this
      self.$q.loading.show()
      if (!self.userData.mensagemSMS || !self.userData.dataEnvioSMS) {
        self.$q.notify({ message: 'Descreva uma Mensagem/Data para o envio do Lembrete SMS', position: 'top', timeout: '1000', color: 'red-8' })
        self.$q.loading.hide()
        return
      }
      var lembrete = {
        mensagemSMS: self.userData.mensagemSMS,
        dataEnvioSMS: self.userData.dataEnvioSMS
      }
      self.$fs.collection('users').doc(self.$auth.currentUser.uid).set(lembrete, { merge: true }).then(function () {
        self.$q.notify({ message: 'Salvo com Sucesso', position: 'top', timeout: '1000', color: 'positive' })
        self.$q.loading.hide()
      }).catch(function (error) {
        console.log(error)
        self.$q.notify({ message: 'Erro ao Salvar Lembrete', position: 'top', timeout: '1000', color: 'red-6' })
        self.$q.loading.hide()
      })
    },
    EnviarSMS () {
      var self = this
      self.$q.loading.show()
      if (!self.userData.mensagemSMS || !self.userData.dataEnvioSMS) {
        self.$q.notify({ message: 'Descreva uma Mensagem/Data para o envio do Lembrete SMS', position: 'top', timeout: '1000', color: 'red-8' })
        self.$q.loading.hide()
        return
      }
      const credentials = {
        id: 'AKIAZNPKZFB4HE52QFMV',
        secret: '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'
      }
      self.$AWS.config.update({
        region: 'us-east-1',
        accessKeyId: credentials.id,
        secretAccessKey: credentials.secret
      })
      var filter = self.events.filter(function (item) {
        return item.dataInicial === self.userData.dataEnvioSMS
      })
      if (filter.length > 1) {
        filter.forEach(function (it) {
          self.EnviarLembreteAWS(it.telefone)
        })
      } else {
        if (filter.length > 0) {
          self.EnviarLembreteAWS(filter[0].telefone)
        } else {
          self.$q.notify({ message: 'Nenhum evento no dia Selecionado', position: 'top', timeout: '1000', color: 'red-8' })
          self.$q.loading.hide()
          return
        }
      }
      self.$q.loading.hide()
      self.dialogConfiguraSMS = false
    },
    EnviarLembreteAWS (telefone) {
      var self = this
      const params = {
        Message: self.userData.mensagemSMS,
        PhoneNumber: telefone
      }
      var publish = new self.$AWS.SNS().publish(params).promise()
      publish.then(function (ret) {
        self.$q.notify({ message: 'Lembrete Enviado com Sucesso', position: 'top', timeout: '1000', color: 'positive' })
        console.log('ret: ' + ret)
      }).catch(function (error) {
        self.$q.notify({ message: 'Erro ao Enviar SMS', position: 'top', timeout: '1000', color: 'red-6' })
        console.log(error)
      })
    },
    carregarDados () {
      var self = this
      self.$q.loading.show()
      self.$fs.collection('events').get().then(function (eventos) {
        eventos.forEach(element => {
          var data = element.data()
          var id = element.id
          if (data.idUserCreateEvent === self.$auth.currentUser.uid) {
            self.addEvents(data, id)
          }
        })
        if (!self.$store.userData) {
          self.$fs.collection('users').doc(self.$auth.currentUser.uid).get().then(function (user) {
            var data = user.data()
            if (data) {
              self.userData = data
            }
            self.$q.loading.hide()
          }).catch(function (error) {
            console.log(error)
            self.$q.loading.hide()
          })
        } else {
          self.userData = self.$store.userData
        }
        self.$fs.collection('aprovacao').onSnapshot(function (querySnapshot) {
          self.listaAprovacao = []
          querySnapshot.forEach(function (element) {
            var data = element.data()
            data.id = element.id
            self.listaAprovacao.push(data)
          })
        })
        self.$q.loading.hide()
      })
    },
    addEvents (evento, id) {
      var self = this
      var novoEvento = evento
      novoEvento.start = evento.dataInicial + ' ' + evento.horaInicial
      novoEvento.end = evento.dataInicial + ' ' + evento.horaFinal
      novoEvento.idEvento = id
      novoEvento.titleEditable = false
      novoEvento.class = 'leisure'
      novoEvento.split = 1
      novoEvento.editableEvents = {
        title: false,
        drag: true,
        resize: false,
        delete: false,
        create: false
      }
      self.events.push(novoEvento)
    },
    saveEditEvent () {
      var self = this
      var ret = self.validacoesCriarEvento(self.selectedEvent.title, self.selectedEvent.dataInicial, self.selectedEvent.horaInicial, self.selectedEvent.horaFinal, self.selectedEvent.nome, self.selectedEvent.telefone)
      if (!ret) {
        self.$q.loading.hide()
        return
      }
      self.$fs.collection('users').doc(self.$auth.currentUser.uid).collection('eventos').doc(self.selectedEvent.idEvento).set(self.selectedEvent, { merge: true }).then(function (ret) {
        self.$fs.collection('events').doc(self.selectedEvent.idEvento).set(self.selectedEvent, { merge: true }).then(function () {
          var filterMethods = self.events.filter(function (m) {
            return m.idEvento === self.selectedEvent.idEvento
          })
          if (filterMethods[0]) {
            var index = self.events.indexOf(filterMethods[0])
            if (index > -1) {
              self.events.splice(index, 1)
            }
            self.selectedEvent.class = 'leisure'
            self.selectedEvent.start = self.selectedEvent.dataInicial + ' ' + self.selectedEvent.horaInicial
            self.selectedEvent.end = self.selectedEvent.dataFinal + ' ' + self.selectedEvent.horaFinal
            self.selectedEvent.resizable = false
            self.events.push(self.selectedEvent)
          }
          self.$q.loading.hide()
        }).catch(function (error) {
          console.log(error)
          self.$q.notify({ message: 'Erro ao Salvar Evento', position: 'top', timeout: '1000', color: 'red-6' })
          self.$q.loading.hide()
        })
      }).catch(function (error) {
        console.log(error)
        self.$q.notify({ message: 'Erro ao Salvar Evento', position: 'top', timeout: '1000', color: 'red-6' })
        self.$q.loading.hide()
      })
    },
    onEventClick (event, e) {
      var self = this
      if (event.idUserCreateEvent !== self.$auth.currentUser.uid) {
        return
      }
      var novoEvento = {
        class: 'leisure',
        content: event.content,
        dataFinal: event.dataFinal,
        dataInicial: event.dataInicial,
        deletable: event.deletable,
        draggable: event.draggable,
        end: event.end,
        horaFinal: event.horaFinal,
        horaInicial: event.horaInicial,
        titleEditable: event.titleEditable,
        idUserCreateEvent: event.idUserCreateEvent,
        nome: event.nome,
        resizable: event.resizable,
        start: event.start,
        telefone: event.telefone,
        title: event.title
      }
      var filter = self.events.filter(function (item) {
        return item.dataInicial === event.dataInicial && item.horaInicial === event.horaInicial &&
                item.dataFinal === event.dataFinal && item.horaFinal === event.horaFinal &&
                item.title === event.title
      })
      if (filter[0]) {
        novoEvento.idEvento = filter[0].idEvento
      }
      self.selectedEvent = novoEvento
      if (self.$q.platform.is.mobile) {
        setTimeout(() => {
          self.showDialogEventView = true
        }, 500)
      } else {
        self.showDialogEventView = true
      }
      // Prevent navigating to narrower view (default vue-cal behavior).
      e.stopPropagation()
    },
    openDialogCreateEvent () {
      var self = this
      self.showDialogCreateEvent = true
    },
    CreateEvent () {
      var self = this
      self.$q.loading.show()
      var ret = self.validacoesCriarEvento(self.newEvent.title, self.dataInicial, self.horaInicial, self.horaFinal, self.newEvent.nome, self.newEvent.telefone)
      if (!ret) {
        self.$q.loading.hide()
        return
      }
      const dateTimeStart = self.dataInicial + ' ' + self.horaInicial // '2020-08-03 19:35'
      const dateTimeEnd = self.dataInicial + ' ' + self.horaFinal

      if (/^\d{4}-\d{2}-\d{2} \d{2}:\d{2}$/.test(dateTimeStart)) {
        var novoEvento = {
          start: dateTimeStart,
          end: dateTimeEnd,
          title: self.newEvent.title,
          content: 'Nome: ' + self.newEvent.nome + '<br/>' + 'Telefone: ' + self.newEvent.telefone,
          nome: self.newEvent.nome,
          titleEditable: false,
          telefone: self.newEvent.telefone,
          class: 'leisure',
          idUserCreateEvent: self.$auth.currentUser.uid
        }
        novoEvento.editableEvents = {
          title: false,
          drag: true,
          resize: false,
          delete: false,
          create: true
        }
        novoEvento.dataInicial = self.dataInicial
        novoEvento.dataFinal = self.dataInicial
        novoEvento.horaInicial = self.horaInicial
        novoEvento.horaFinal = self.horaFinal
        self.events.push(novoEvento)
        self.saveEventDB(novoEvento)
        self.limparCampos()
      } else if (dateTimeStart) {
        alert('Wrong date format.')
        self.$q.loading.hide()
      }
    },
    validacoesCriarEvento (title, dataInicial, horaInicial, horaFinal, nome, telefone) {
      var self = this
      if (!title) {
        self.$q.notify({ message: 'Selecione o Título do seu Evento', position: 'top', timeout: '1000', color: 'red-8' })
        return false
      }
      if (!dataInicial || !horaInicial || !horaFinal) {
        self.$q.notify({ message: 'Selecione Data/Hora Inicial e Final do Seu Novo Evento!', position: 'top', timeout: '1000', color: 'red-8' })
        return false
      }
      if (!nome || !telefone) {
        self.$q.notify({ message: 'Selecione o Nome/Telefone que deseja descrever nesse Evento!', position: 'top', timeout: '1000', color: 'red-8' })
        return false
      }
      return true
    },
    saveEventDB (novoEvento) {
      var self = this
      self.$fs.collection('users').doc(self.$auth.currentUser.uid).collection('eventos').add(novoEvento).then(function (ret) {
        var doc = ret.id
        self.$fs.collection('events').doc(doc).set(novoEvento).then(function () {
          var filter = self.events.filter(function (item) {
            return item.dataInicial === novoEvento.dataInicial && item.horaInicial === novoEvento.horaInicial &&
                   item.dataFinal === novoEvento.dataFinal && item.horaFinal === novoEvento.horaFinal &&
                   item.title === novoEvento.title
          })
          if (filter[0]) {
            filter[0].idEvento = doc
          }
          self.$q.loading.hide()
        }).catch(function (error) {
          console.log(error)
          self.$q.loading.hide()
        })
      }).catch(function (error) {
        console.log(error)
        self.$q.notify({ message: 'Erro ao Salvar Evento', position: 'top', timeout: '1000', color: 'red-6' })
        self.$q.loading.hide()
      })
    },
    deletarEvento (event) {
      var self = this
      self.$q.loading.show()
      var map = self.events.filter(function (it) {
        return it.idEvento === event.idEvento
      })
      if (map[0]) {
        const index = self.events.indexOf(map[0])
        if (index > -1) {
          self.events.splice(index, 1)
        }
      }
      self.deleteEventDB(event)
    },
    deleteEventDB (event) {
      var self = this
      self.$fs.collection('events').doc(event.idEvento).delete().then(function (params) {
        self.$q.loading.hide()
      }).catch(function (error) {
        console.log(error)
        self.$q.notify({ message: 'Erro ao Deletar Evento', position: 'top', timeout: '1000', color: 'red-6' })
        self.$q.loading.hide()
      })
    },
    desconectar () {
      var self = this
      self.$fb.auth().signOut().then(function () {
        self.$router.replace('/')
      }).catch(function (error) {
        // An error happened.
        return error
      })
    },
    dragCreation (obj) {
      var self = this
      self.$q.loading.show()
      var day = obj.newDate.getDate()
      var month = obj.newDate.getMonth() + 1
      var year = obj.newDate.getFullYear()
      var hour = obj.newDate.getHours()
      var min = obj.newDate.getMinutes()
      var inicial = ''
      var hhInicio = ''
      var tempoEditado = ''
      var transforHoraFinal = obj.event.horaFinal.split(':')
      var hrFinal = parseInt(transforHoraFinal[0])
      for (var i = 0; i < 24; i++) {
        if (!hhInicio) {
          inicial = obj.event.horaInicial
          var transformHoraInicial = inicial.split(':')
          hhInicio = parseInt(transformHoraInicial[0])
        }
        if (hhInicio === hrFinal) {
          tempoEditado = hour + i
          if (tempoEditado > 24) {
            tempoEditado = '23' + ':' + transforHoraFinal[1]
          } else {
            tempoEditado = tempoEditado + ':' + transforHoraFinal[1]
          }
          i = 24
        } else {
          hhInicio++
        }
      }
      var dtInicial = year + '-' + month + '-' + day
      var hrInicial = hour + ':' + min
      var event = obj.event
      event.start = dtInicial + ' ' + hrInicial
      event.end = dtInicial + ' ' + tempoEditado
      event.dataInicial = dtInicial
      event.horaInicial = hrInicial
      event.dataFinal = dtInicial
      event.horaFinal = tempoEditado
      self.selectedEvent = event
      var filter = self.events.filter(function (item) {
        return item.dataInicial === obj.originalEvent.dataInicial && item.horaInicial === obj.originalEvent.horaInicial &&
               item.dataFinal === obj.originalEvent.dataFinal && item.horaFinal === obj.originalEvent.horaFinal &&
               item.title === obj.originalEvent.title
      })
      if (filter[0]) {
        self.selectedEvent.idEvento = filter[0].idEvento
      }
      event.titleEditable = false
      self.saveEditEvent()
    },
    limparCampos () {
      var self = this
      self.newEvent = {}
      self.dataInicial = ''
      self.horaInicial = ''
      self.dataFinal = ''
      self.horaFinal = ''
      self.showDialogCreateEvent = false
    },
    aprovar (item, acao) {
      var self = this
      self.$q.loading.show()
      var aprovado = {
        aprovado: true
      }
      self.$fs.collection('users').doc(item.id).set(aprovado, { merge: true }).then(function () {
        self.$fs.collection('aprovacao').doc(item.id).delete().then(function () {
          if (acao === 'a') {
            self.$q.notify({ message: 'Aprovado com sucesso!', position: 'top', timeout: '1000', color: 'positive' })
            self.$q.loading.hide()
          } else if (acao === 'n') {
            var negado = {
              negado: true
            }
            self.$fs.collection('users').doc(item.id).set(negado, { merge: true }).then(function () {
              self.$q.notify({ message: 'Usuário Negado!', position: 'top', timeout: '1000', color: 'positive' })
              self.$q.loading.hide()
            }).catch(function (error) {
              console.log('erro ao negar aprovação: ' + error)
              self.$q.loading.hide()
            })
          }
        }).catch(function (error) {
          console.log('erro ao deletar aprovação: ' + error)
          self.$q.loading.hide()
        })
      }).catch(function (error) {
        console.log('erro ao deletar aprovação: ' + error)
        self.$q.loading.hide()
      })
    }
  }
}
</script>

<style>
.vuecal__now-line {color: red;}
/* .vuecal__event {cursor: pointer;} */

.vuecal__event-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 4px 0 8px;
}

.vuecal__event-time {
  display: inline-block;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.vuecal__event-content {
  font-style: italic;
}

.vuecal__cell-events-count {
  width: 18px;
  height: 2px;
  color: red;
}

.vuecal__cell--has-events {background-color: #fffacd;}
.vuecal__cell-events-count {display: none;}

.StyleCalendarMobile {
  background:white;
  width:100%;
}

.StyleCalendarDesktop {
  background:white;
  /* height:calc(100vh - 5vh); */
  width:100%;
}

.vuecal__event.leisure {background-color: rgba(253, 156, 66, 0.9);border: 1px solid rgb(233, 136, 46);color: #fff;}
.vuecal__event.health {background-color: rgba(164, 230, 210, 0.9);border: 1px solid rgb(144, 210, 190);}
.vuecal__event.sport {background-color: rgba(255, 102, 102, 0.9);border: 1px solid rgb(235, 82, 82);color: #fff;}
</style>
