<template>
<q-layout view="lHh Lpr lFf">
  <q-page-container>
    <q-page style="background-image: linear-gradient(#232526, #414345);">
      <div class="fixed-center">
        <span class="text-main" v-if="$q.platform.is.desktop">My House Cleaning Company</span>
        <span class="text-main-mobile" v-if="$q.platform.is.mobile">My House Cleaning Company</span>
        <br/>
        <div class="row justify-end">
          <span class="text-version">0.0.5</span>
        </div>
      </div>
    </q-page>
   </q-page-container>
</q-layout>
</template>

<script>
export default {
  name: 'loading',
  data () {
    return {
    }
  },
  created () {
    var self = this
    self.iniciar()
  },
  methods: {
    iniciar () {
      var self = this
      setTimeout(function () {
        self.$bus.$off('OnReady')
        self.$bus.$on('OnReady', function () {
          self.entrar()
        })
        if (self.$store.IsReady) {
          self.entrar()
        }
      }, 1500)
    },
    entrar () {
      var self = this
      self.$bus.$off('OnReady')

      self.$nextTick(function () {
        if (!self.$auth.currentUser) {
          self.$router.replace('/login')
        } else {
          self.buscarUsuario()
        }
      })
    },
    buscarUsuario () {
      var self = this
      self.$store.userData = {}
      self.$fs.collection('users').doc(self.$auth.currentUser.uid).get().then(function (user) {
        var data = user.data()
        if (data) {
          self.$store.userData = data
          if (!data.negado && (data.aprovado || data.admin)) {
            self.$router.replace('/inicio')
          } else {
            self.$router.replace('/telaAprovacao')
          }
        } else {
          console.log('erro ao buscar usuario DB')
        }
      }).catch(function (error) {
        console.log('erro ao buscar usuario DB:' + error)
      })
    }
  }
}
</script>

<style>
.text-main {
  font-size: 25px;
  color:white;
  text-align: center;
  animation: pulse 2s infinite;
}

.text-main-mobile {
  font-size: 20px;
  color:white;
  text-align: center;
  animation: pulse 2s infinite;
}

.text-version {
  font-size: 12px;
  color:white;
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    font-size: 28px;
  }

  70% {
    transform: scale(1);
    font-size: 30px;
  }

  100% {
    transform: scale(0.95);
    font-size: 25px;
  }
}
</style>
