<template>
  <body>
<!-- ---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------MOBILE--------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------- -->

  <q-layout v-if="isMobileBrowser">
    <q-page-container>
      <q-page class="qPageStyle">
        <div>
          <div class="row justify-center">
            <span class="textHeaderMobile">My House Cleaning Company</span>
            <!-- {{$t('hello')}} -->
          </div>
          <div class="row justify-center">
            <span class="textSubtitleDesktop">{{$t('subtitleLogin')}}</span>
          </div>
          <div class="row justify-center">
            <!-- /////////////////////////////////////////////// ENTRAR CONTA /////////////////////////////////////////////// -->
          <q-card class="mainCardMobile" v-if="entrar">
            <q-card-section>
              <div class="row justify-center" style="margin-top:-60px">
                <q-img src="../assets/calendar.png" style="height:90px;width:90px"/>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="q-pl-xs q-pr-xs">
                <span class="text-blue-grey-9 titleFields">Email:</span>
                <q-input v-model="emailEntrar" @input="errorEntrarEmail = false" :error="errorEntrarEmail" color="indigo-5">
                  <template v-if="errorEntrarEmail">
                    <span class="text-red">{{errorMessageEmail}}</span>
                  </template>
                </q-input>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="q-pl-xs q-pt-md q-pr-xs">
                <span class="text-blue-grey-9 titleFields">{{$t('password')}}</span>
                <q-input v-model="passwordEntrar" @input="errorEntrarPassword = false" :error="errorEntrarPassword" :type="isPwd ? 'password' : 'text'" color="indigo-5">
                  <template v-if="errorEntrarPassword">
                    <span class="text-red">{{errorMessagePassword}}</span>
                  </template>
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                    />
                  </template>
                </q-input>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="row justify-center">
                <q-btn @click="Entrar()" style="min-width:40%" color="indigo-5" no-caps>
                  <span>{{$t('signin')}}</span>
                </q-btn>
              </div>
              <div class="row justify-center q-pt-md">
                <span>{{$t('nohaveaccount')}} </span><span class="text-blue-7 q-pl-xs" style="cursor: pointer" @click="entrar = false; criar = true">{{$t('createone')}}</span>
              </div>
            </q-card-section>
          </q-card>
          <!-- /////////////////////////////////////////////// CRIAR CONTA /////////////////////////////////////////////// -->
          <q-card class="mainCardMobile" v-if="criar">
            <q-card-section >
              <div class="row justify-center" style="margin-top:-60px">
                <q-img src="../assets/calendar.png" style="height:90px;width:90px"/>
              </div>
            </q-card-section>
            <q-card-section >
              <div class="q-pl-xs q-pr-xs" style="margin-top:-30px;">
                <q-btn @click="criar = false; entrar = true" dense flat round icon="arrow_back"/>
              </div>
              <div class="q-pl-xs q-pt-md q-pr-xs">
                <span class="text-blue-grey-9 titleFields">Your best Email:</span>
                <q-input v-model="emailCriar" @input="errorCreateEmail = false" :error="errorCreateEmail" color="indigo-5">
                  <template v-if="errorCreateEmail">
                    <span class="text-red">{{errorMessageEmail}}</span>
                  </template>
                </q-input>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="q-pl-xs q-pt-md q-pr-xs">
                <span class="text-blue-grey-9 titleFields">Security Password:</span>
                <q-input v-model="passwordCriar" @input="errorCreatePassword = false" :error="errorCreatePassword" :type="isPwd ? 'password' : 'text'" color="indigo-5">
                  <template v-if="errorCreatePassword">
                    <span class="text-red">{{errorMessagePassword}}</span>
                  </template>
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                    />
                  </template>
                </q-input>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="row justify-center">
                <q-btn @click="CreateAccount()" style="min-width:40%" color="indigo-5" no-caps>
                  <span>{{$t('createaccount')}}</span>
                </q-btn>
              </div>
            </q-card-section>
          </q-card>
          </div>
        </div>
        <div style="height:200px;"></div>
      </q-page>
    </q-page-container>
  </q-layout>

<!-- ---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------DESKTOP--------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------- -->

  <q-layout view="lHh Lpr lFf" v-if="isDesktopBrowser">
    <q-page-container>
      <q-page class="qPageStyle">
        <div>
          <div class="row justify-center">
            <span class="textHeaderDesktop">My House Cleaning Company</span>
            <!-- {{$t('hello')}} -->
          </div>
          <div class="row justify-center">
            <span class="textSubtitleDesktop">{{$t('subtitleLogin')}}</span>
          </div>
          <div class="row justify-center">
            <!-- /////////////////////////////////////////////// ENTRAR CONTA /////////////////////////////////////////////// -->
          <q-card class="mainCardDesktop" v-if="entrar">
            <q-card-section>
              <div class="row justify-center" style="margin-top:-60px">
                <q-img src="../assets/calendar.png" style="height:90px;width:90px"/>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="q-pl-xl q-pr-xl">
                <span class="text-blue-grey-9 titleFields">Email:</span>
                <q-input v-model="emailEntrar" @input="errorEntrarEmail = false" :error="errorEntrarEmail" color="indigo-5">
                  <template v-if="errorEntrarEmail">
                    <span class="text-red">{{errorMessageEmail}}</span>
                  </template>
                </q-input>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="q-pl-xl q-pt-md q-pr-xl">
                <span class="text-blue-grey-9 titleFields">{{$t('password')}}</span>
                <q-input v-model="passwordEntrar" @input="errorEntrarPassword = false" :error="errorEntrarPassword" :type="isPwd ? 'password' : 'text'" color="indigo-5">
                  <template v-if="errorEntrarPassword">
                    <span class="text-red">{{errorMessagePassword}}</span>
                  </template>
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                    />
                  </template>
                </q-input>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="row justify-center">
                <q-btn @click="Entrar()" style="min-width:40%" color="indigo-5" no-caps>
                  <span>{{$t('signin')}}</span>
                </q-btn>
              </div>
              <div class="row justify-center q-pt-md">
                <span>{{$t('nohaveaccount')}} </span><span class="text-blue-7 q-pl-xs" style="cursor: pointer" @click="entrar = false; criar = true">{{$t('createone')}}</span>
              </div>
            </q-card-section>
          </q-card>
          <!-- /////////////////////////////////////////////// CRIAR CONTA /////////////////////////////////////////////// -->
          <q-card class="mainCardDesktop" v-if="criar">
            <q-card-section >
              <div class="row justify-center" style="margin-top:-60px">
                <q-img src="../assets/calendar.png" style="height:90px;width:90px"/>
              </div>
            </q-card-section>
            <q-card-section >
              <div class="q-pl-xl q-pr-xl" style="margin-top:-30px;">
                <q-btn @click="criar = false; entrar = true" dense flat round icon="arrow_back"/>
              </div>
              <div class="q-pl-xl q-pt-md q-pr-xl">
                <span class="text-blue-grey-9 titleFields">Your best Email:</span>
                <q-input v-model="emailCriar" @input="errorCreateEmail = false" :error="errorCreateEmail" color="indigo-5">
                  <template v-if="errorCreateEmail">
                    <span class="text-red">{{errorMessageEmail}}</span>
                  </template>
                </q-input>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="q-pl-xl q-pt-md q-pr-xl">
                <span class="text-blue-grey-9 titleFields">Security Password:</span>
                <q-input v-model="passwordCriar" @input="errorCreatePassword = false" :error="errorCreatePassword" :type="isPwd ? 'password' : 'text'" color="indigo-5">
                  <template v-if="errorCreatePassword">
                    <span class="text-red">{{errorMessagePassword}}</span>
                  </template>
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                    />
                  </template>
                </q-input>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="row justify-center">
                <q-btn @click="CreateAccount()" style="min-width:40%" color="indigo-5" no-caps>
                  <span>{{$t('createaccount')}}</span>
                </q-btn>
              </div>
            </q-card-section>
          </q-card>
          </div>
        </div>
        <div style="height:200px;"></div>
      </q-page>
    </q-page-container>
  </q-layout>
  </body>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      entrar: true,
      criar: false,
      isDesktopBrowser: this.$q.platform.is.desktop,
      isMobileBrowser: this.$q.platform.is.mobile,
      isPwd: true,
      emailEntrar: '',
      passwordEntrar: '',
      emailCriar: '',
      passwordCriar: '',
      errorMessageEmail: '',
      errorMessagePassword: '',
      errorCreateEmail: false,
      errorCreatePassword: false,
      errorEntrarEmail: false,
      errorEntrarPassword: false,
      lang: this.$q.lang.isoName
    }
  },
  created () {
  },
  methods: {
    Entrar () {
      var self = this
      self.$q.loading.show()
      if (!self.emailEntrar) {
        self.errorMessageEmail = 'Enter an email address.'
        self.errorEntrarEmail = true
        self.$q.loading.hide()
        return
      }
      if (!self.passwordEntrar || self.passwordEntrar.length < 6) {
        self.errorMessagePassword = 'Enter a valid password, minimum 6 characters.'
        self.errorEntrarPassword = true
        self.$q.loading.hide()
        return
      }
      self.$fb.auth().signInWithEmailAndPassword(self.emailEntrar, self.passwordEntrar).then(function (ret) {
        if (ret.user) {
          var idUser = ret.user.uid
          self.$fs.collection('users').doc(idUser).get().then(function (retUser) {
            var userDB = retUser.data()
            if (userDB) {
              self.$store.userData = userDB
              if (userDB.aprovado || userDB.admin) {
                self.$router.replace('/')
                self.$q.loading.hide()
              } else {
                if (!userDB.aprovado) {
                  self.$router.replace('/telaAprovacao')
                  self.$q.loading.hide()
                }
              }
            } else {
              console.log('sem usuario DB')
              var user = {
                id: idUser,
                admin: false,
                email: self.emailEntrar
              }
              self.$store.userData = user
              self.$fs.collection('users').doc(idUser).set(user).then(function () {
                self.$router.replace('/')
                self.$q.loading.hide()
              }).catch(function (error) {
                console.log(error)
              })
            }
          }).catch(function (error) {
            console.log(error)
            self.$q.loading.hide()
          })
        }
      }).catch(function (error) {
        self.$q.loading.hide()
        if (error.code.includes('email')) {
          self.errorMessageEmail = error.message
          self.errorEntrarEmail = true
          return
        }
        if (error.code.includes('password')) {
          self.errorMessagePassword = error.message
          self.errorEntrarPassword = true
          return
        }
        self.errorMessageEmail = error.message
        self.errorEntrarEmail = true
      })
    },
    CreateAccount () {
      var self = this
      self.$q.loading.show()
      if (!self.emailCriar) {
        self.errorMessageEmail = 'Enter an email address.'
        self.errorCreateEmail = true
        self.$q.loading.hide()
        return
      }
      if (!self.passwordCriar || self.passwordCriar.length < 6) {
        self.errorMessagePassword = 'Enter a valid password, minimum 6 characters.'
        self.errorCreatePassword = true
        self.$q.loading.hide()
        return
      }
      self.$fb.auth().createUserWithEmailAndPassword(self.emailCriar, self.passwordCriar).then(function (ret) {
        if (ret.user) {
          var idUser = ret.user.uid
          var user = {
            id: idUser,
            admin: false,
            email: self.emailCriar,
            aprovado: false
          }
          self.$store.userData = user
          self.$fs.collection('users').doc(idUser).set(user).then(function () {
            if (!self.$store.userData.aprovado && !self.$store.userData.admin) {
              var aprovacao = {
                email: self.emailCriar
              }
              self.$fs.collection('aprovacao').doc(idUser).set(aprovacao).then(function () {
                self.$router.replace('/telaAprovacao')
                self.$q.loading.hide()
              })
            } else {
              self.$router.replace('/')
              self.$q.loading.hide()
            }
          }).catch(function (error) {
            console.log(error)
          })
        }
      }).catch(function (error) {
        self.$q.loading.hide()
        if (error.code.includes('email')) {
          self.errorMessageEmail = error.message
          self.errorCreateEmail = true
          return
        }
        if (error.code.includes('password')) {
          self.errorMessagePassword = error.message
          self.errorCreatePassword = true
          return
        }
        self.errorMessageEmail = error.message
        self.errorCreateEmail = true
      })
    }
  }
}
</script>

<style>
.qPageStyle {
  background-image: linear-gradient(#232526, #414345);
}

.textHeaderDesktop {
  color: white;
  font-size:32px;
  font-family: "AirbnbCereal-Light";
  margin-top:10vh;
  text-align: center;
}

.textSubtitleDesktop {
  color: white;
  font-size:28px;
  font-family: "AirbnbCereal-Light";
  margin-top:10px;
}

.mainCardDesktop {
  min-width: 700px;
  min-height: 450px;
  margin-top: 10vh;
  border-radius:15px;
}

.textHeaderMobile {
  color: white;
  font-size:25px;
  font-family: "AirbnbCereal-Light";
  margin-top:2vh;
  text-align: center;
}

.textSubtitleMobile {
  color: white;
  font-size:20px;
  font-family: "AirbnbCereal-Light";
  margin-top:10px;
}

.mainCardMobile {
  min-width: 95%;
  min-height: 450px;
  max-width: 95%;
  max-height: 450px;
  margin-top: 10vh;
  border-radius:15px;
}

.titleFields {
  font-size: 18px;
  font-family: "AirbnbCereal-Medium";
}
</style>
