<template>
  <q-layout view="lHh Lpr lFf">
  <q-page-container>
    <q-page style="background-image: linear-gradient(#232526, #414345);">
      <div style="padding-top:20vh;">
        <div class="row justify-center q-pa-sm">
        <span class="text-main-aprovacao">{{$t('titleTelaAprovacao')}}</span>
        </div>
        <div class="row justify-center">
          <span class="text-subtitle-aprovacao text-blue-grey-2">{{$t('subtitleTelaAprovacao')}}</span>
        </div>
        <div class="row justify-center" v-if="negado">
          <span class="text-subtitle-aprovacao text-red">{{$t('subtitleTelaAprovacaoNegado')}}</span>
        </div>
        <div class="row justify-center q-mt-xl">
          <q-btn no-caps color="grey-8" @click="entrarOutraConta()">
            <span class="text-white">{{$t('buttonTelaAprovacao')}}</span>
          </q-btn>
        </div>
      </div>
    </q-page>
   </q-page-container>
</q-layout>
</template>

<script>
export default {
  name: 'telaAprovacao',
  data () {
    return {
      negado: false
    }
  },
  created () {
    var self = this
    if (self.$store.userData.negado) {
      self.negado = true
    }
  },
  methods: {
    entrarOutraConta () {
      var self = this
      self.$fb.auth().signOut().then(function () {
        self.$router.replace('/')
      }).catch(function (error) {
        // An error happened.
        return error
      })
    }
  }
}
</script>

<style>
.text-main-aprovacao {
  font-size: 25px;
  color:white;
  text-align: center;
}

.text-subtitle-aprovacao {
  font-size: 16px;
  text-align: center;
}

</style>
