<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'App',
  created () {
    var self = this
    self.$i18n._vm.locale = self.$produto.language
  }
}
</script>
<style>
@font-face {
  font-family: "AirbnbCereal-Light";
  src: url('fonts/AirbnbCereal-Light.woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AirbnbCereal-Medium";
  src: url('fonts/AirbnbCereal-Medium.woff');
  font-weight: 400;
  font-style: normal;
}
</style>
